<!DOCTYPE html>
<html>
<head>
    <title>SIG Dashboard</title>
    <!-- Add Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css">
    
    <!-- Add CSS styles for the map container -->
    <style>
        #map {
            height: 400px; /* Set the height of the map container */
        }
    </style>
</head>
<body>

<!-- Include the navbar -->
{% include 'navbar.html' %}

<div class="container mt-4">
  <div id="map" class="mb-4"></div>
  <button id="generateCoordinateBtn" class="btn btn-primary">Generate Lokasi Anda</button>
  <p id="coordinates" class="mt-2 font-weight-bold">Latitude: N/A<br>Longitude: N/A</p>
</div>



<script src="https://unpkg.com/@turf/turf@6.5.0/umd/turf.min.js"></script>
<script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"></script>
<script src="{{ url_for('static', filename='script.js') }}"></script>

<!-- Bootstrap JS and jQuery -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.1/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

<!-- Add this script to handle the button click -->
<script>
document.getElementById('generateCoordinateBtn').addEventListener('click', function() {
    if ('geolocation' in navigator) {
        navigator.geolocation.getCurrentPosition(updateLocation, errorHandler);
    } else {
        alert('Geolocation is not available in this browser.');
    }
});
</script>

</body>
</html>
