<!-- navbar.html -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
        <a class="navbar-brand" href="/">SIG Dashboard</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbar">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/data">Data Tinggi Muka Air</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="https://t.me/PeringatanbanjirDKIBot">Bot Telegram</a>
                </li>
               
            </ul>
        </div>
    </div>
</nav>
